<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="https://www.nuget.org/api/v2/package/" value="ce08a0a2-a612-4e4c-b6ce-3cc2a46b0570" />
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org" />
  </packageSources>
</configuration>